<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cnddcm.promise.mapper.CnAlgorithmMapper" >
  <resultMap id="BaseResultMap" type="com.cnddcm.promise.pojo.CnAlgorithm" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ALG_USERID" property="algUserid" jdbcType="VARCHAR" />
    <result column="ALG_ALGID" property="algAlgid" jdbcType="VARCHAR" />
    <result column="ALG_CODE" property="algCode" jdbcType="VARCHAR" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATED_TIME" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATED_TIME" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>